body{
    font-family:Arial, Helvetica, sans-serif;
    text-align: left
}

.comment-block{
    background-color: rgb(34, 38, 243);
    width: 80vw;
    height: 15%;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: 0.5s;
}

#comment-box{
    width: 40vw;
    height: 40vh;
    border-radius: 10%;
    text-align: center;
}
